<div class="border container">
	<div class="row">
		<div class="col-1"></div>
		<h3 *ngIf="movie">Add a review for {{ movie.title }}</h3>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<p *ngIf="!name.valid && !name.pristine">Name is required and must be between 3-255 characters</p>
	</div>
<!-- 	<div class="row">
		<div class="col-1"></div>
		<p *ngIf="!starrating.valid && !starrating.pristine">Star rating is required and must be between 1-5 characters</p>
	</div>
 -->	<div class="row">
		<div class="col-1"></div>
		<p *ngIf="!review.valid && !review.pristine">Review is required and must be between 3-255 characters</p>
	</div>
	<div class="row p-2 ">
		<div class="col-1"></div>
		<div class="col-3">
			<h6>Your name:</h6><br>
			<h6>Stars:</h6><br>
			<h6>Your review:</h6><br>	
		</div>
		<div class="col-7">
			<input type="text" name="review.name"
				[(ngModel)]="my_review.name"
				required
				minlength="3"
				maxlength="255"
				#name="ngModel"
			><br><br>
			<select [(ngModel)]="my_review.star_rating">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select><br><br>
<!-- 			<input type="number" name="review.star_rating"
				[(ngModel)]="my_review.star_rating"
				required
				min="1"
				max="5"
				#starrating="ngModel"
			><br><br> -->
			<textarea type="textarea" rows="5" cols="50" name="review.review"
				 [(ngModel)]="my_review.review"
				 required
				 minlength="3"
				 maxlength="255"
				 #review="ngModel"
			></textarea>
		</div>
	</div>
	<div class="row p-2">
		<div class="col-3"></div>
		<form class="col-2" (submit)="create_review()">
			<input class="bg-info" type="submit" name="Submit review"
				[disabled]="!(name.valid &&  review.valid)"
			>
		</form>
		<div class="col-1"></div>
		<button class="bg-warning" *ngIf="movie" [routerLink]="['/movies/'+ movie._id]">Cancel</button>
		<div class="col-2"></div>
	</div>
</div>